@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

.back {
    position: relative;
    width: 90%;
    margin: 10px auto;
    max-width: 530px;
    height: 70%;
    max-height: 680px;
    border-radius: 30% 30% 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/stone.jpg");
}

.promise {
    position: absolute;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%);
    font-family: "Nanum Brush Script", cursive;
    color: white;
    font-size: 32px;
}

.promise > p {
    /* no drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.promise > .confirm {
    margin-top: 20px;
    font-size: 20px;
}

.scratch-container {
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.popup {
    display: none;
}

.scratch {
    opacity: 0.6;
}

.scratch-container:hover + .popup {
    position: absolute;
    display: block;
    font-size: 64px;
    width: 90%;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    opacity: 1.0 !important;
}

.input-box {
    margin: 0 auto;
    width: 60%;
}

#no-selected > button {
    width: 100%;
}



#selected > button {
    width: 32%;
}

#selected {
    display: none;
}