@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

.back {
    position: relative;
    width: 90%;
    margin: 10px auto;
    max-width: 530px;
    height: 70%;
    max-height: 680px;
    border-radius: 30% 30% 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/stone.jpg");
    background-size: cover;
}

.promise {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Nanum Brush Script", cursive;
    color: white;
    font-size: 32px;
}

.promise > p {
    /* no drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.promise > .confirm {
    margin-top: 20px;
    font-size: 20px;
}

.promise > .scratch {
    position: absolute;
}