{% extends 'index.html' %}
{% block head %}
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="/static/css/blogcr.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>블로그</title>
{% endblock %}
<script>
    $(document).ready(function () {
        listing();
    });
    function listing() {
        $.ajax({
            type: 'GET',
            url: '/blog',
            data: {},
            success: function (response) {

                let rows = response['blog']

                for (let i = 0; i < rows.length; ++i) {
                    let title1 = rows[i]['title1']
                    let time1 = rows[i]['time1']
                    let summary1 = rows[i]['summary1']



                    let temp_html = `<a href="/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano"
                                                     class="blog-title-link w-inline-block">
                                                     <h1 class="blog-title" >${title1}</h1>
                                                 </a>
                                                 <div class="post-info-wrapper">
                                                     <div class="post-info" >${time1}</div>

                                                 </div>
                                                 <p class="post-summary" >${summary1}</p>`
                    $('#news').append(temp_html)


                }
            }
        })
    }
</script>
{% block body %}
<header id="header" class="header-section wf-section">
    <div class="w-container"><a href="/templates/index.html" aria-current="page" class="main-title w--current">TaeCho.vil</a>
        <p class="main-subheading"> TaeCho village Peoples live Post</p>

    </div>
    <div class="social-link-group">
        <a href="https://docs.google.com/spreadsheets/d/1y8mohUoAz-6ERVbjLebWKvIE_Jt6Si0lwDTAFDfgVLE/edit#gid=0"
           class="social-icon-link w-inline-block"><img
                src="C:\Taechovil blog\캡처.PNG"
                width="25" alt="https://github.com/befunc/TaeCho.vil"></a>
        <a href="https://github.com/befunc/TaeCho.vil" class="social-icon-link w-inline-block"><img
                src="https://uploads-ssl.webflow.com/63712e2439109b7ea30c09d5/63712e2439109b1b6e0c0a1e_social-18.svg"
                width="25" alt="https://github.com/befunc/TaeCho.vil"></a>
        <a href="https://github.com/befunc/TaeCho.vil" class="social-icon-link w-inline-block"><img
                src="https://uploads-ssl.webflow.com/63712e2439109b7ea30c09d5/63712e2439109b29350c0a08_social-15.svg"
                width="25" alt="https://github.com/befunc/TaeCho.vil"></a>

    </div>

        <div class="content-wrapper" >
            <div class="w-container">
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <div class="post-wrapper" id="news"
                                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" >

                                <a href="/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano">
                                    class="button-round w-button">Continue reading →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-wrapper"><a href="/all-posts" class="button w-button">More posts&nbsp;→</a></div>
            </div>
        </div>
<!--        메세지    -->
    <div style="font-size: 50px">
        <span>미구현 된 페이지 입니다.</span>
        <div>감사합니다.</div>
    </div>

    <!--        메세지    -->

    </header>
{% endblock %}
