{% extends 'index.html' %}
{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet">

<title>방명록</title>

<style>
    * {
        font-family: 'Gowun Batang', serif;
        color: black;
    }

    body {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/premium-vector/seamless-vector-patterns-with-night-sky-starry-sky-endless-night-sky-star_497922-623.jpg');
        background-position: center;
        background-size: auto;
    }


    @keyframes ring {
        0% {
            width: 30px;
            height: 30px;
            opacity: 1;
        }
        100% {
            width: 300px;
            height: 300px;
            opacity: 0;
        }
    }


    .w-btn-neon2 {
        margin: 60px auto 0px auto;
        position: relative;
        border: none;
        min-width: 200px;
        min-height: 50px;
        background: linear-gradient(
                90deg,
                rgba(129, 230, 217, 1) 0%,
                rgba(79, 209, 197, 1) 100%
        );
        border-radius: 1000px;
        color: darkslategray;
        cursor: pointer;
        box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
        font-weight: 700;
        transition: 0.3s;
    }

    .w-btn-neon2:hover {
        transform: scale(1.2);
    }

    .w-btn-neon2:hover::after {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid #00ffcb;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
    }


    .neon-lists {
        width: 100%;
        padding-bottom: 60px;
    }


    table {
        margin: 40px 0;
        font-size: 18px;
        width: 100%;

        display: none;
    }

    .list-group {
        margin: 5px auto 5px 18px;
        max-width: 180px;
        max-height: 220px;


    }

    h6 {
        contain: content;
        overflow: scroll;
    }

    p {
        contain: content;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);

                display: none;


        }

    .modal-window {

            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );

            width: 400px;
            height: 500px;
            position: relative;
            top: -30px;
            padding: 10px;
        }

    .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;

        }

      .title h2 {
            display: inline;
        }

     .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }

       .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }



</style>
<script src="/static/javascript/board.js"></script>
<script>
    let selectedMemberId = 0
    let selectedId
    let modal

    function showModal(memberId, id) {
        selectedMemberId = memberId
        selectedId = id
        modal.style.display = "flex"
    }

    function hideModal() {
        selectedMemberId = 0
         modal.style.display = "none"
    }

    function modify() {
        const message = $('#floatingTextarea2').val()
        requestPutBoards(selectedMemberId, {id: selectedId, message: message}, (response) => {
            alert(response['msg'])
            window.location.reload();
        })
    }

    function deleteBoard(memberId, id) {
        requestDeleteBoards(memberId, id, (response) => {
            alert(response['msg'])
            window.location.reload();
        } )
    }

   $(document).ready(function () {
        modal = document.getElementById("modal")

        const closeBtn = modal.querySelector(".close-area")
        closeBtn.addEventListener("click", e => {
            modal.style.display = "none"
        })

        modal.addEventListener("click", e => {
            const evTarget = e.target
            if (evTarget.classList.contains("modal-overlay")) {
                modal.style.display = "none"
            }
        })
    })

    function setBoardsHtml(memberId) {
        return function (response) {
            let rows = response['guests']
            for (let i = 0; i < rows.length; i++) {
                let name = rows[i]['name']
                let message = rows[i]['message']
                let id = rows[i]['_id']

                let temp_html =
                    ` <tr>
                        <td>
                         <div class="list-group" >
                            <a class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                 <p class="mb-1">이름: ${name}</p>
                                </div>
                                <h6 class="mb-1">메세지: ${message}</h6>
                            </a>
                           <div id="container">
                           <button type="button" onclick="deleteBoard(${memberId}, '${id}')">❌</button>
                           <button type="button" class="btn-modal" onclick="showModal(${memberId}, '${id}')">📝</button>
                           </div>
                        </td>

                    </tr>`
                $(`#guest${memberId}-box`).prepend(temp_html)
            }
        }
    }

    $(document).ready(function () {
        for (let i = 0; i < 5; i++) {
            const memberId = i + 1
            requestGetBoards(memberId, setBoardsHtml(memberId))
        }
    });

    //방명록 여닫는 버튼 코드

    $(document).ready(function () {

        for (let i = 0; i < 5; i++) {
            const buttonId = `#b${i+1}`
            const tableId = `#table${i+1}`
            const memberName = ['주현진 팀장', '전수빈 팀원', '박진 팀원', '이혜원 팀원', '정성훈 팀원']
            let isShow = true;
            $(buttonId).on('click', function () {
                if (isShow) {
                    isShow = false;
                    $(tableId).show("slow"),
                        $(buttonId).text('방명록')

                } else {
                    isShow = true;
                    $(tableId).hide("fast");
                    $(buttonId).text(memberName[i]);

                }
            })
        }


    })







</script>

{% endblock %}


{% block body %}

<div class="neon-lists">
    <div class="row row-cols-5">
        <div class="col">
            <button class="w-btn-neon2" type="button" id="b1">
                주현진 팀장
            </button>
            <table class="table1" id="table1">
                <thead>
                </thead>
                <tbody id="guest1-box">
                </tbody>
            </table>
        </div>
        <div class="col">
            <button class="w-btn-neon2" type="button" id="b2">
                전수빈 팀원
            </button>
            <table class="table2" id="table2">
                <thead>
                </thead>
                <tbody id="guest2-box">
                </tbody>
            </table>
        </div>
        <div class="col">
            <button class="w-btn-neon2" type="button" id="b3">
                박진 팀원
            </button>
            <table class="table3" id="table3">
                <thead>
                </thead>
                <tbody id="guest3-box">
                </tbody>
            </table>
        </div>
        <div class="col">
            <button class="w-btn-neon2" type="button" id="b4">
                이혜원 팀원
            </button>
            <table class="table4" id="table4">
                <thead>
                </thead>
                <tbody id="guest4-box">
                </tbody>
            </table>
        </div>

        <div class="col">
            <button class="w-btn-neon2" type="button" id="b5">
                정성훈 팀원
            </button>
            <table class="table5" id="table5">
                <thead>
                </thead>
                <tbody id="guest5-box">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>모달</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">이름</label>
                </div>

                <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                    <label for="floatingTextarea2"></label>
                </div>

                <button type="button" class="btn btn-dark" style="margin-top: 20px;" onclick="modify()">수정하기</button>

            </div>

        </div>
    </div>

    <script>



    </script>

{% endblock %}



