{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/member_page.css">
<title>팀원 소개</title>
{% endblock %}
{% block body %}
<div class="wrapper">
    <ul class="team">
        <li class="team-item">
            <div class="profile">
                <a href="/member_1"><img src="\static\images\introduceimages\1.jpg"></a>
                <div class="profile-contents">
                    <h2>주현진 <span>팀장</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href="/member_2"><img src="\static\images\introduceimages\2.jpg"></a>
                <div class="profile-contents">
                    <h2>전수빈 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href="/member_3"><img src="\static\images\introduceimages\3.jpg"></a>
                <div class="profile-contents">
                    <h2>박진 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href="/member_4"><img src="\static\images\introduceimages\4.jpg"></a>
                <div class="profile-contents">
                    <h2>이혜원 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href="/member_5"><img src="\static\images\introduceimages\5.jpg"></a>
                <div class="profile-contents">
                    <h2>정성훈 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}





