{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/member_page.css">
<title>팀원 소개</title>
{% endblock %}
{% block body %}
<div class="wrapper">
    <ul class="team">
        <li class="team-item">
            <div class="profile">
                <a href={{ url_for('introduce_members' , member_name = "joo") }}><img src="/static/images/introduceimages/1.png"></a>
                <div class="profile-contents">
                    <h2>주현진 <span>팀장</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href={{ url_for('introduce_members' , member_name = "jun") }}><img src="/static/images/introduceimages/2.png"></a>
                <style>
                    .profile {
                        background-color:transparent;
                    }
                </style>
                <div class="profile-contents">
                    <h2>전수빈 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href={{ url_for('introduce_members' , member_name = "park") }}><img src="\static\images\introduceimages\3.png"></a>
                <div class="profile-contents">
                    <h2>박진 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href={{ url_for('introduce_members' , member_name = "lee") }}><img src="\static\images\introduceimages\4.png"></a>
                <div class="profile-contents">
                    <h2>이혜원 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="profile">
                <a href={{ url_for('introduce_members' , member_name = "jeong") }}><img src="\static\images\introduceimages\5.png"></a>
                <div class="profile-contents">
                    <h2>정성훈 <span>팀원</span></h2>
                    <p>팀원들의 기본 소개</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}





