{% extends 'index.html' %}
{% block head %}
<title>전수빈</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
        $(document).ready(function () {
            show_order();
        });
        function show_order() {

            $.ajax({
                type: 'GET',
                url: '/mars',
                data: {},
                success: function (response) {
                    alert(response['msg'])
                }
            });
        }

        function save_board() {

            let name = $(`#name`).val()
            let message = $(`#message`).val()

            $.ajax({
                type: 'POST',
                url: '/taecho',
                data: {name_give:name, message_give:message '데이터전송'},
                success: function (response) {
                    alert(response['msg'])
                }
            });
        }
    </script>
<title>JUN SUBIN</title>
<link rel="stylesheet" type="text/css" href="/static/css/member_2.css"/>
{% endblock %}
{% block body %}
<div class="jb-box">
    <video muted autoplay loop>
        <source src="static/images/member2 background.mp4" type="video/mp4">

    </video>
    <div class="jb-text">
        <h2>
            <a href="/static/images/KakaoTalk_20221115_005124171.mp4"> GO! JUN SUBIN</a>
        </h2>
        <h4> About me </h4>
        <a href="https://www.instagram.com/firstman___/"><h4> INSTAGRAM </h4></a>
        <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp"><h4> MBTI</h4></a>

    </div>
    <div class="visitor-info">
        <div class="input-group mb-3">
            <span class="input-group-text">이름</span>
            <input id="name" type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">글</span>
            <input id="message" type="text" class="form-control">
        </div>

        <button onclick="save_board()" type="button" class="btn btn-warning mybtn">글남기기</button>
    </div>
</div>
{% endblock %}
