<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="A_member_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <ul class="team">
            <li class="team-item">
                <div class="profile">
                    <a href="member_1.html"><img src="images/1.jpg"></a>
                    <div class="profile-contents">
                        <h2>주현진 <span>팀장</span></h2>
                        <p>팀원들의 기본 소개</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="profile">
                    <a href="member_2.html"><img src="images/2.jpg"></a>
                    <div class="profile-contents">
                        <h2>전수빈 <span>팀원</span></h2>
                        <p>팀원들의 기본 소개</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="profile">
                    <a href="member_3.html"><img src="images/3.jpg"></a>
                    <div class="profile-contents">
                        <h2>박진 <span>팀원</span></h2>
                        <p>팀원들의 기본 소개</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="profile">
                    <a href="member_4.html"><img src="images/4.jpg"></a>
                    <div class="profile-contents">
                        <h2>이혜원 <span>팀원</span></h2>
                        <p>팀원들의 기본 소개</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="profile">
                    <a href="member_5.html"><img src="images/5.jpg"></a>
                    <div class="profile-contents">
                        <h2>정성훈 <span>팀원</span></h2>
                        <p>팀원들의 기본 소개</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript" src="jA_member_page.js"></script>
</html>