{% extends 'index.html' %}
{% block head %}
<script src="/static/javascript/member_1.js"></script>
<link rel="stylesheet" href="/static/css/member_1.css">
<link rel="stylesheet" href="/css/member_1.css">
<link rel="stylesheet" href="/static/css/common.css">
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
<title>주현진</title>
<script>
    function write_book() {

    let name = $('#floatingInput').val()
    let message = $('#floatingTextarea2').val()

    if (name === '') {
        alert('이름을 써주세요!')
    }
    if (message === '') {
        alert('메세지를 남겨주세요!')
    } else $.ajax({
        type: 'POST',
        url: '/api/boards/1',
        data: {name_give: name, message_give: message},
        success: function (response) {
            alert(response['msg'])
            window.location.reload()
        }
    });

}
</script>
{% endblock %}
{% block body %}

    <section class="profile">

        <div class="profile-image">
            <img alt src="/static/images/hyeonjin/face.PNG">
        </div>

        <span class="name">[A Developing Developer]</span>
        <span class="name">Hyeonjin Joo</span>
        <span class="name">icepri3535@gmail.com</span>

        <button><a href="https://github.com/H-JJOO" goals="_blank"><img src="/static/images/hyeonjin/github.png" alt="" id="github"></a></button>
        <button><a href="https://icepri3535.tistory.com/" goals="_blank"><img src="/static/images/hyeonjin/tistory.svg" alt="" id="tistory"></a></button>

    </section>

    <section class="content" id="content">

        <div class="intro" id="intro">
            <p>
                [INTRO]
            </p>
            <p>성장하는 개발자가 되고 싶은 주현진입니다.</p>
            <img src="/static/images/hyeonjin/blog.PNG" alt="">
            <p>TISTORY 대문에도 걸어놓은 다짐입니다.</p>
        </div>

        <div class="mbti" id="mbti">
            <p>[MBTI]</p>
            <img src="/static/images/hyeonjin/mbti_isfj.png" alt="">
            <q>사랑은 남과 나눌 때 커진다. 더 많은 사랑을 받는 유일한 방법은 다른 사람에게 사랑을 베푸는 것이다.</q>
            <i>-브라이언 트레이시-</i>
            <br>
            <br>
            <p>노력해보겠습니다...</p>
            <br>
        </div>

        <div class="style" id="style">
            [STYLE]
            <img src="/static/images/hyeonjin/lazy.webp" alt="">
            <p>네... 보시는 그대롭니다...</p>
            <p>좀 게으릅니다.</p>
            <p>아! 그래도 맡은바 역할은 절대로 수행하도록 노력합니다!</p>
            <p>특징이자 단점인데, 이번 내배캠4기 과정을 통해서 극복해보겠습니다.</p>

        </div>

        <div class="board" id="board">
            <div class="myguest">

                <button onclick="open_book()">방명록 남기기</button>
            </div>

            <div class="mybook" id="book-box" style="display: none">

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">이름</label>
                </div>

                <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                    <label for="floatingTextarea2">메세지 남기기</label>
                </div>
                <div class="mybtns">
                    <button onclick="write_book()" type="button" class="btn btn-dark">기록하기</button>
                    <button onclick="close_book()" type="button" class="btn btn-outline-dark">닫기</button>
                </div>
            </div>
        </div>


    </section>

<!--    navigator-->
    <nav>
        <ul>
            <li>
                <a href="#intro">
                    <img alt="intro" src="/static/images/hyeonjin/intro.png" title="intro">
                </a>
            </li>
            <li>
                <a href="#mbti">
                    <img alt="mbti" src="/static/images/hyeonjin/mbti.png" title="mbti">
                </a>
            </li>
            <li>
                <a href="#style">
                    <img alt="style" src="/static/images/hyeonjin/style.png" title="style">
                </a>
            </li>
            <li>
                <a href="#board">
                    <img alt="board" src="/static/images/hyeonjin/board.png" title="board">
                </a>
            </li>
        </ul>
    </nav>
<!--    navigator-->
{% endblock %}


