{% extends 'index.html' %}
{% block head %}
<title>전수빈</title>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="/static/javascript/board.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    // $(document).ready(function () {
    //     show_order();
    // });
    //
    // // function show_order() {
    // //
    // //     $.ajax({
    // //         type: 'GET',
    // //         url: '/api/boards/2',
    // //         data: {},
    // //         success: function (response) {
    // //             alert(response['msg'])
    // //         }
    // //     });
    // // }

    function save_board() {

        const name = $(`#name`).val()
        const message = $(`#message`).val()

        const memberId = 2
        const data = {
            name: name || 'GUEST',
            message: message || 'WOW!'
        }

        requestPostBoards(memberId, data, (response) => {
            alert(response['msg'])
        });
    }
</script>
<title>JUN SUBIN</title>
<link rel="stylesheet" type="text/css" href="/static/css/member_2.css"/>
{% endblock %}
{% block body %}
<div class="jb-box">
    <video muted autoplay loop>
        <source src="static/images/member2 background.mp4" type="video/mp4">

    </video>
    <div class="jb-text">
        <h2>
            <button onclick="open_book()">왔으면 한마디 해야제</button>
            <div class="mybook" id="book-box">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="name" placeholder="name@example.com">
                    <label for="name">이름</label>
                </div>

                <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="message"
                  style="height: 100px"></textarea>
                    <label for="message">메세지 남기기</label>
                </div>
                <div class="mybtns">
                    <button onclick="save_board()" type="button" class="btn btn-dark">기록하기</button>
                    <button onclick="close_book()" type="button" class="btn btn-outline-dark">닫기</button>
                </div>
            </div>

        </h2>
        <h4> About me </h4>
        <a href="https://www.instagram.com/firstman___/"><h4> INSTAGRAM </h4></a>
        <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp"><h4> MBTI</h4></a>

    </div>

</div>

</div>
{% endblock %}
